.modal  {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  padding: 0 19px;
  z-index: 999;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: fixed;
  visibility: none;
  opacity: 0;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
  pointer-events: none;
}

.modal__container {
  position: relative;
  padding: 36px;
  background-color: white;
  margin: auto;
  border-radius: 10px;
  max-width: 430px;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
  transition: visibility 0s, opacity 0.5s linear;
}

.modal__close {
  position: absolute;
  background-image: url(../images/Close\ Icon.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  left: calc(100% + 5px);
  bottom: calc(100% + 5px);
  width: 40px;
  height: 40px;
  border: none;
  padding: 0;
}

.modal__close:hover {
  cursor: pointer;
  opacity: 0.6;
}

.modal__title {
  margin-top: 0;
  margin-bottom: 24px;
  color: black;
  width: 330px;
  height: 23px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 24px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__input:last-of-type {
  font-family: "Inter", Arial, sans-serif;
  font-size: 14px;
  border: none;
  margin-top: 54px;
  height: 27px;
}

.modal__button {
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  margin-top: 48px;
  color: white;
  height: 50px;
  background-color: black;
}

.modal__button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.modal__image-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: transparent;
  max-width: 75vw;
  max-height: 75vh;
  padding: 0;
}

.modal__preview-image {
  max-width: 75vw;
  max-height: 75vh;
}

.modal__preview-title {
  height: 16px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  text-align: left;
}

.modal__error {
  position: absolute;
  color: #ff0000;
  opacity: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2;
  width: 100%;
}

.modal__button_disabled {
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.2);
  background: rgb(252, 250, 250);
  pointer-events: none;
  user-select: none;
}

.mdoal__input_type_error {
  border-bottom: 1px solid #ff0000;
}

.modal__error_visible {
  opacity: 1;
}

@media screen and (max-width: 320px) {
  .modal__container {
    max-width: calc(100% - 19px * 2);
    padding: 25px 22px;
}

.modal__title {
   font-size: 18px;
   line-height: 22px;
}

.modal__close {
   width: 26px;
   height: 26px;
   left: calc(100% - 35px);
   bottom: calc(100% + 14px);
}

.modal__button {
   height: 46px;
   line-height: 17px;
   font-size: 14px;
   width: 100%;
}

.modal__input-title {
   line-height: 17px;
   font-size: 14px;
   width: 100%;
}

.modal__input-description {
   line-height: 17px;
   font-size: 14px;
   width: 100%;
}
}