.modal  {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  padding: 0 19px;
  z-index: 999;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: fixed;
}

.modal__container {
  position: relative;
  padding: 36px;
  background-color: white;
  margin: auto;
  border-radius: 10px;
  max-width: 430px;
}

.modal_opened {
  display: flex;
}

.modal__close {
  position: absolute;
  background-image: url(../images/Close\ Icon.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  left: calc(100% + 5px);
  bottom: calc(100% + 5px);
  width: 40px;
  height: 40px;
  border: none;
  padding: 0;
}

.modal__title {
  margin-top: 0;
  margin-bottom: 24px;
  color: black;
  width: 330px;
  height: 23px;
  font-family: "Inter";
  font-size: 24px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__input-title {
  font-family: "Inter";
  font-size: 14px;
  border: none;
  margin-top: 54px;
  width: 358px;
  height: 27px;
}

.modal__input-description {
  font-family: "Inter";
  font-size: 14px;
  border: none;
  margin-top: 54px;
  width: 358px;
  height: 27px;
}

.modal__button {
  font-family: "Inter";
  font-size: 18px;
  margin-top: 48px;
  color: white;
  width: 358px;
  height: 50px;
  background-color: black;
}

@media screen and (max-width: 320px) {
  .modal__container {
    max-width: calc(100% - 19px * 2);
    padding: 25px 22px;
}

.modal__title {
   font-size: 18px;
   line-height: 22px;
}

.modal__close {
   width: 26px;
   height: 26px;
   left: calc(100% - 35px);
   bottom: calc(100% + 14px);
}

.modal__button {
   height: 46px;
   line-height: 17px;
   font-size: 14px;
   width: 100%;
}

.modal__input-title {
   line-height: 17px;
   font-size: 14px;
   width: 100%;
}

.modal__input-description {
   line-height: 17px;
   font-size: 14px;
   width: 100%;
}
}